<a href="https://colab.research.google.com/github/fazliberkordek/python_22/blob/main/GlobalAIHub.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
number = int(input("Number:"))
print(number + 10)

Number:1
11

In [ ]:
#importing modules
import math

In [ ]:
floor_number = (math.floor(3.45))
print(floor_number,type(floor_number))

3 <class 'int'>

In [ ]:
import datetime
print(datetime.datetime.now())

2022-06-28 19:53:11.806786

In [ ]:
#random module
import random
print(random.randint(1,6)) # For example we are  playing with dice

1

In [ ]:
#Operators:
#Arithmetic operator:

print("2+5 = ",2+5)
print("5-2 = ",5-2)
print("5*2 = ",5*2)
print("5/2 = ",5/2)
print("5**2 = ",5**2)
print("5//2 =",5//2)
print("5%2 = ",5%2)

2+5 =  7
5-2 =  3
5*2 =  10
5/2 =  2.5
5**2 =  25
5//2 = 2
5%2 =  1

In [ ]:
x = 5 # equivalent to x = 5
x+=5 # x = x+5  
x-=5
x*=5
x/=5

In [ ]:
#Comparison operitors:
num1 = 10
num2 = 5

print(num1, ">",  num2, "=", num1>num2)
print(num1,">=", num2, "=", num1>=num2)
print(num1,"<",num2, "=", num1<num2)
print(num1,"<=",num2,"=", num1<=num2)
print(num1,"==",num2,"=",num1==num2)
print(num1,"!=",num2,"=",num1!=num2)

10 > 5 = True
10 >= 5 = True
10 < 5 = False
10 <= 5 = False
10 == 5 = False
10 != 5 = True

## Logic Operators AND

In [ ]:
print("True and True = ", True and True)
print("True and False =",True and False)
print("False and True = ", False and True)
print("False and Fakse =",False and False)
print("True and False and True = ", True and False and True)

True and True =  True
True and False = False
False and True =  False
False and Fakse = False
True and False and True =  False

# Logic operators: OR

In [ ]:
print("True or True = ",True or True)
print("True or False = ",True or False)
print("False or True = ",False or True)
print("False or False =",False or False)
print("False or True or False = ",False or True or False)

True or True =  True
True or False =  True
False or True =  True
False or False = False
False or True or False =  True

# Logic Operator : NOT

In [ ]:
print("Not True = ",not True)
print("Not False =", not False)

Not True =  False
Not False = True

# If-Else Statement

In [9]:
celsius = 25
if celsius >20:
  print("The tempreture is", celsius," which is above 20 Celsius")

The tempreture is 25  which is above 20 Celsius

In [10]:
celsius = 18
if celsius >20:
  print("good")
else:
  print("cold")

cold

In [12]:
celsius = 32
if celsius >30:
  print("Hot ")
elif 30>= celsius >20:
  print("Good")
elif -273 < celsius <=20:
  print("Cold")
else:
  print("Something went wrong")

Hot

In [1]:
drivers_license = True
age = 17
if age >17:
  if drivers_license:
    print("You can drive car")
  else:
    print("You need to go to a drivers licence course and get it ")
else:
  print("You need to get older")

You need to get older

## For Loops

In [10]:
volcano_name = "Eyjafjallajökull"
for i in volcano_name:
  print("i: {}\n".format(i))
print("Loop is completed")

i: E

i: y

i: j

i: a

i: f

i: j

i: a

i: l

i: l

i: a

i: j

i: ö

i: k

i: u

i: l

i: l

Loop is completed

In [12]:
numbers = [0,1,2,3,4,5,6,7,8,9,10]
for i in numbers:
  print(i)
print("Loop is completed")

0
1
2
3
4
5
6
7
8
9
10
Loop is completed

Range function

In [14]:
for i in range(5,21):
  print(i)
print("Loop is completed")

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
Loop is completed

In [15]:
for i in range(1,101):
  if i %5 == 0:
    print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100