<a href="https://colab.research.google.com/github/fazliberkordek/python_22/blob/main/Python_101i_part2pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
number = int(input("Number:"))
print(number + 10)

Number:1
11

In [2]:
#importing modules
import math

In [3]:
floor_number = (math.floor(3.45))
print(floor_number,type(floor_number))

3 <class 'int'>

In [4]:
import datetime
print(datetime.datetime.now())

2022-07-02 14:25:08.232139

In [5]:
#random module
import random
print(random.randint(1,6)) # For example we are  playing with dice

6

In [6]:
#Operators:
#Arithmetic operator:

print("2+5 = ",2+5)
print("5-2 = ",5-2)
print("5*2 = ",5*2)
print("5/2 = ",5/2)
print("5**2 = ",5**2)
print("5//2 =",5//2)
print("5%2 = ",5%2)

2+5 =  7
5-2 =  3
5*2 =  10
5/2 =  2.5
5**2 =  25
5//2 = 2
5%2 =  1

In [7]:
x = 5 # equivalent to x = 5
x+=5 # x = x+5  
x-=5
x*=5
x/=5

In [8]:
#Comparison operitors:
num1 = 10
num2 = 5

print(num1, ">",  num2, "=", num1>num2)
print(num1,">=", num2, "=", num1>=num2)
print(num1,"<",num2, "=", num1<num2)
print(num1,"<=",num2,"=", num1<=num2)
print(num1,"==",num2,"=",num1==num2)
print(num1,"!=",num2,"=",num1!=num2)

10 > 5 = True
10 >= 5 = True
10 < 5 = False
10 <= 5 = False
10 == 5 = False
10 != 5 = True

## Logic Operators AND

In [9]:
print("True and True = ", True and True)
print("True and False =",True and False)
print("False and True = ", False and True)
print("False and Fakse =",False and False)
print("True and False and True = ", True and False and True)

True and True =  True
True and False = False
False and True =  False
False and Fakse = False
True and False and True =  False

# Logic operators: OR

In [10]:
print("True or True = ",True or True)
print("True or False = ",True or False)
print("False or True = ",False or True)
print("False or False =",False or False)
print("False or True or False = ",False or True or False)

True or True =  True
True or False =  True
False or True =  True
False or False = False
False or True or False =  True

# Logic Operator : NOT

In [11]:
print("Not True = ",not True)
print("Not False =", not False)

Not True =  False
Not False = True

# If-Else Statement

In [12]:
celsius = 25
if celsius >20:
  print("The tempreture is", celsius," which is above 20 Celsius")

The tempreture is 25  which is above 20 Celsius

In [13]:
celsius = 18
if celsius >20:
  print("good")
else:
  print("cold")

cold

In [14]:
celsius = 32
if celsius >30:
  print("Hot ")
elif 30>= celsius >20:
  print("Good")
elif -273 < celsius <=20:
  print("Cold")
else:
  print("Something went wrong")

Hot

In [15]:
drivers_license = True
age = 17
if age >17:
  if drivers_license:
    print("You can drive car")
  else:
    print("You need to go to a drivers licence course and get it ")
else:
  print("You need to get older")

You need to get older

## For Loops

In [16]:
volcano_name = "Eyjafjallajökull"
for i in volcano_name:
  print("i: {}\n".format(i))
print("Loop is completed")

i: E

i: y

i: j

i: a

i: f

i: j

i: a

i: l

i: l

i: a

i: j

i: ö

i: k

i: u

i: l

i: l

Loop is completed

In [17]:
numbers = [0,1,2,3,4,5,6,7,8,9,10]
for i in numbers:
  print(i)
print("Loop is completed")

0
1
2
3
4
5
6
7
8
9
10
Loop is completed

Range function

In [18]:
for i in range(5,21):
  print(i)
print("Loop is completed")

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
Loop is completed

In [19]:
for i in range(1,101):
  if i %5 == 0:
    print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

While Loops

In [20]:
import time
celsius = 10
while celsius < 50:
  if celsius > 30:
    print("Hot")
  elif 30>= celsius >20:
    print("good")
  elif -273 < celsius <= 20:
    print("Cold")
  else:
    print("Something went wrong")
  print("Current tempreture: ",celsius)
  celsius +=5
  time.sleep(1)

Cold
Current tempreture:  10
Cold
Current tempreture:  15
Cold
Current tempreture:  20
good
Current tempreture:  25
good
Current tempreture:  30
Hot
Current tempreture:  35
Hot
Current tempreture:  40
Hot
Current tempreture:  45

# Dont start the code block down below. It is infinite loop

In [21]:
import time 
counter = 0
while counter >=0:
  counter +=1

  print(counter)
  time.sleep(1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

KeyboardInterrupt: ignored

## Breaking the infinite loop

In [ ]:
import random
while True:
  random_number = random.randrange(1000)
  print(random_number)
  if random_number == 777:
    print("Jackpot!! Gouch ya!!",random_number)
    break

You can use break on for loops

In [ ]:
names = ["Max","Felix","Deniz","Selin","Lucas",26,"Sarah"]

for name in names:
  if type(name) != str:
    print("Found a nonstring in",name)
    continue
  else:
    print(name,"is a string")

# Functions

In [ ]:
def hello(name):
  print("Hello",name)

In [ ]:
hello("Berk")

In [ ]:
def sum(number1,number2):
  answer = number1 + number2
  return answer

In [ ]:
result = sum(3,5)
print(result)

# Arguments

In [ ]:
def argument_printer (arg_position1,arg_position2):
  print("Argument at position 1:",arg_position1)
  print("Argument at position 2:",arg_position2)

In [ ]:
argument_printer("value 1","value 2")

In [ ]:
argument_printer()

#Argument Scope

In [ ]:
def greeting1(First_name,Last_name,Auto_correction):
  if Auto_correction == True:
    capitalized_firs_name = First_name.capitalize()
    capitalized_last_name = Last_name.capitalize()
    print("Hello",capitalized_firs_name,capitalized_last_name)
  else:
    print("Hello",First_name,Last_name)

In [ ]:
greeting1("DENİz","kayA",True)

In [ ]:
greeting1("DENİz","kayA",False)

In [ ]:
def greeting(First_name,Last_name,Auto_correction = True):
  if Auto_correction == True:
    capitalized_firs_name = First_name.capitalize()
    capitalized_last_name = Last_name.capitalize()
    print("Hello",capitalized_firs_name,capitalized_last_name)
  else:
    print("Hello",First_name,Last_name)

In [ ]:
greeting("deNiz","kaYa")

#Keyword Arguments

In [ ]:
def car(brand,model,color):
  print("My favourite car is the ",brand,model,"in the colour",color)

In [ ]:
car("Volvo","v40","Ocean Blue")

In [ ]:
car (color = "black",brand = "Volvo",model = "V40")

In [ ]:
car (color = "black",brand = "Volvo","V40")

#Scope
Local scope and global scope

In [37]:
number0 = 13
def change_number():
  number0 = 4

change_number()
print(number0)

13

In [39]:
number01 =13
def change_number():
  global number01
  number01 = 4

change_number()
print(number01)

4

#Modules

In [45]:
import test

In [47]:
test.greeting("Berk")

Hello Berk